<!--===One Way Binding ===-->
<h1>{{title}}</h1>
<router-outlet></router-outlet>
<p>{{description}}</p>
<h3>{{ isClassEnded}}</h3>
<h3> {{numberOfStudents}}</h3>
<h3> {{School}} </h3>
<p> {{isSchoolOn}} </p>
<p> {{classPrefect}} </p>

<!--===Two Way Binding ===-->
<input type="text"[(ngModel)]="userName" placeholder="Enter a user name">
<h2>{{ userName || 'No user name'}}</h2>

<!--=== Structural Directives ===-->

<h3>Food Menus</h3>
<br>
<button (click)="toggleMenu()">Show Menu</button>

<ul *ngIf="showMenu === true">
    <li *ngFor="let dish of dishes">{{ dish }}</li>
    
</ul>

<!-- create todos component and todo component -->
<app-todos></app-todos>