
    <div class="container">
        <div>
            <img src="https://c8.alamy.com/comp/DEYY13/football-with-the-logo-of-borussia-moenchengladbach-DEYY13.jpg" alt="photo"><br>
        </div>
        
        <p><strong>Country:</strong>{{sport?.country }}</p>
        <p><strong>Region:</strong> {{ sport?.region }}</p>
        <p><strong>Stadium:</strong> {{ sport?.stadium }} </p>
        <p><strong>Start:</strong>{{sport?.start}}</p>
        <p><strong>Tournament:</strong>{{sport?.tournament}}</p>
            
        <button class="button">View</button>
        
    </div>

